@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap');


.navbar {
    position: fixed;
    background: #ffffff;
    height: 13vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-family: 'Kanit', sans-serif;
}

.logo {
    color: black;
    cursor: pointer;
    text-decoration: none;
    width: 700px;
    text-align: left;
    padding-left: 5px;
    font-size: 17px;
    font-family: 'Prompt', sans-serif;
}

.nav-side-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 0 10px;
    width: 90%;
    justify-content: end;
    margin-right: 35px;
    
}

.nav-items {
    display: flex;
    align-items: center;
    height: 80px;
}

.nav-links {
    color: #000000;
    text-decoration: none;
    padding: 8px 20px;
    transition: all 0.3s ease-out;
}

.nav-links:hover {
    background-color: #52B788;
    color: #ffffff;
    border-radius: 15px;
}

.fa-bars {
    color: #273d5c;
}

.nav-links-button {
    display: none;
}

.menu-icon {
    display: none;
}
.picnav{
    height: 80px;
    padding: 5px;
}
/* .hamburger-menu{
    display: none;
    cursor: pointer;
    justify-content: right;
} */

/* -------------------------------- */
/* .burger-menu{
    height: 30%;
    width: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    background-color: #ffffff;
}
.burger-bar{
    width: 40px;
    height: 3px;
    background-color: #000000;
    border-radius: 0.5em;
}
.menu{
    width: 50%;
    height: 100vh;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    z-index: -1;
}

.hidden{
    display: none;
}
.visible{
    display: inherit;
} */

/* --------------------------------- */

@media screen and (max-width: 767px){
    .logo{
        width: 60%;
    }
    .navbar{
        width: 100%;
        justify-content:left;
    }
    /* .hamburger-menu{
        display: block;
        right: 0;
        justify-content:right;
    } */
    .nav-side-menu {
        display: flex;
        flex-direction: column;
        height: 100vh;
        position: absolute;
        margin-top: 0;
        opacity: 1;
        transition: all 0.5s ease;
        justify-content: flex-start;
        background-color: #fff;
        
    }

    .nav-side-menu.start {
        background: #fff;
        opacity: 1;
        transition: all 0.5s ease;
    }

    /* .nav-side-menu.active {
        right: 0;
    } */

    .nav-links {
        text-align: center;
        margin-top: 15px;
        padding: 1rem;
        color: #000000;
        display: flex;
        transition: 0s;
        background-color: #fff;
        
    }

    .nav-links:hover {
        color: #fff;
        background-color: #52B788 ;
    }

    .logo {
        position: sticky;
    }
    
    .picnav{
        position: sticky;
    }

    .menu-icon {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        background-color: #000000;
    }

    .fa-times {
        color: #fff;
        font-size: 1rem;
    }

    .nav-items {
        height: auto;
    }
    /* .page {
        margin-left: 200px;
    } */

    .burger-menu{
        height: 20%;
        width:fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        cursor: pointer;
        background-color: #ffffff;
    }
    .burger-bar{
        width: 30px;
        height: 3px;
        background-color: #000000;
        border-radius: 0.5em;
    }
    .menu{
        width: 50%;
        background-color: #ffffff;
        position: absolute;
        top: 100%;
        z-index: -1;
        right: 0;
    }
    
    .hidden{
        display: none;
    }
    .visible{
        display: flex;
        height: 100vh;
    }
}

.pic {
    width: 5vh;
    height: 5vh;
}

/*layout*/
.navbarlay{
    display: flex;
    flex-direction: column;
}