@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');



.texthead{
    font-size: 20px;
    font-family: 'Noto Sans Thai', sans-serif;
    font-weight: bold;
}

*{
    font-family: 'Kanit', sans-serif;
}


/**/
/*home*/
/**/
.texthome{
    font-size: 40px;
    font-weight:bold;
    text-align: left;
    color: #ffffff;
    font-family: 'PT Sans Narrow', sans-serif;
    margin-left: 5%;
    /*border: 1px solid #273d5c;*/
}
.textcontent{
    text-align: left; 
    color: #ffffff;
    font-family: 'Kanit', sans-serif;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5%;
}
.sizehome{
    height: 100%;
    font-family: 'Kanit', sans-serif;
}
.homebutton{
    font-size: 18px;
    color: #ffffff;
    height: 9vh;
    width: 42vh;
    font-family: 'Kanit', sans-serif;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 445px;
    background-color: #52B788;
    border: 0;
    margin-left: 160px;
}
.homebutton:hover{
    background-color:white;
    border: 2px solid#52B788;
    color: #52B788;
}
.pichome{
    background: url("../img/pichome2.png");
    background-size: cover;
    width: 98%;
    height: 80vh;
    background-position: left;
    margin-left: 1%;
    margin-top: 105px;
    margin-bottom: 15px;
    display: grid;
    border-radius: 5px;
}
.circlehome{
    margin-top: 10px;
    margin-left: 75px;
    margin-right: 75px;
}
.picbox{
    height: 60px;
    width: 60px;
    margin: 10px;
}
.boxtext{
    padding: 10px;
    font-size: 13px;
}
.layerhome2{
    height: 200px;
    background-color: white;
}
.boxhome{
    height: 380px;
    width: 25%;
    margin: 1.5%;
    font-size: 17px;
    font-weight: 500;
    background-color: #273d5c ;
    color: #ffffff;
}

.homeitem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 400;
    font-size: 17px;
}
.picitem{
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 5px;
}
.homecontent{
    width: 98%;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 35px;
    align-items: center;
}
.homehead{
    display: flex;
    flex-direction: row;
    background:url("../img/headhome.png");
    background-size: cover;
    height: 250px;
    margin: 2%;
    border-radius: 15px;
}
.picheadhome{
    height: 250px;
    width: 400px;
    object-fit: cover;
    margin-left: 3%;
}

@media screen and (max-width: 767px){
    .boxhome{
        height: calc(380px + 20px);
    }
    .boxtext{
        font-size: 11px;
        width: 65%;
    }
    .boxhome{
        font-size: 15px;
    }
    .homecontent{
        font-size: 17px;
    }
    .textcontent{
        font-size: 14px;
    }
    .homehead{
        height: calc(250px + 25px);
    }
    .picheadhome{
        height: calc(250px + 25px);
    }
    .homebutton{
        margin-top: 377px;
        margin-left: 100px;
        height: 9vh;
        width: 22vw;
        font-size: 15px;
    }
    .homeitem{
        width:90%;
    }
}

/**/
/*News*/
/**/
.item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,23vw));
    grid-row-gap: 5%;
    grid-column-gap: 0.7%;
    justify-content: space-evenly;
    overflow-x: auto;
    margin-top: 7%;

}
@media screen and (max-width: 600px) {
    .item{
        padding-top: 55%;
        
        /* phone */
    }
}
@media screen and (min-width: 601px) and (max-width: 1024px)  {
    .item{
        padding-top: 13%;
        padding-right: 4%;
        /* tablet */
    }
}
@media screen and (min-width: 1025px) {
    .item{
        padding-top: 2%;
        /* computer */
    }

}

.picsize{
    margin-top: 120px;
    height: 370px;
    width: 520px;
    object-fit: cover;
}
.contenthead{
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    color: #273d5c;
}
.boxcover{
    width: 280px; 
    height: 240px;
    border-radius: 10px;
    background-color: #345995;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    color: white;
    padding: 10px;
    /* margin-left: 12px; */
    
}
.boxcover:hover{
    background-color: #FFDB58;
    color: #000000;
}
.custom-link{
    color: #ffffff;
}
.custom-link:hover{
    color: #000000;
}
.piccontent{
    margin-top: 20px;
    height: 170px;
    width: 240px;
    object-fit: cover;
    float: center;
    margin-left: 5px;  
}
.boxcontent{
    width: 280px; 
    height: 240px; 
    border-radius: 10px;
    background-color: #345995;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    color: white;
    padding: 10px;
    
}
.boxcontent:hover{
    background-color: #FFDB58;
    color: #000000;
}
.scroll{
    display: flex;
    flex-direction: column;
    overflow:auto;
}
.newsleft{
    height: 100vh;
}



/**/
/*contact*/
/**/
.contact0{
    text-align: center;
    font-size: 30px;  
    margin-left: 2%;
    margin-right: 2%;
}
.Contact-Report{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.contact1{
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.formcontact{
    font-size: 1rem;
    padding: 10px;
    margin-top: 2%;
    border-radius: 5px;
}
.contactrow1, .contactrow3{
    display: flex;
    flex-direction: row;
    font-size: 13px;
    text-align: left;
    padding-top: 10px;
}
.contactrow2{
    display: flex;
    flex-direction: column;
    /* font-size: 14px;
    text-align: left;
    padding-top: 10px;
    justify-content: center; */
}
.name-item{
    display: flex;
    justify-content: space-evenly;
}
.first-name{
    margin-right: 20px;
}
.last-name{
    margin-right: 3%;
}
.email{
    margin-right: 3%;
    font-size: 15px;
    width: 150px;
    color: #ffffff;
}
.first-name, .last-name{
    width: 80px;
    text-align: left;
    font-size: 15px;
    color: #ffffff;
}
.piclocation{
    width: 27px;
    height: 27px;
    background: url(../img/location.png);
    margin-left: 3vw;
}
.picphone{
    width: 20px;
    height: 20px;
    background: url(../img/call.png);
    margin-left: 3vw;
}
.backgroundcon{
    width: 80%;
    margin-left: 15%;
}
.open{
    width: 15%;
    margin-left: 10%;
    color: #fff;
}
.detail1{
    width: 85%;
    color: #fff;
    padding-right: 10px;
    margin-left: 2px;
}
.detail2{
    color: #fff;
    margin-right: 10px;
    margin-left: 5px;
}
.detail3{
    color: #fff;
    padding-left: 1px;
    padding-right: 10px;
    margin-left: 10px;
}
.place{
    width: 75px;
    color: #fff;
    margin-left: 6px;
    margin-right: 1px;
}
.phone{
    width: 80px;
    color: #fff;
    padding-right: 1px;
    margin-left: 1px;
}
.clinic{
    width: 45%;
    background-color: #e77575;
    padding: 1px;
    border-radius: 30px;
    box-shadow: 0 4px 10px;
}
.Develop{
    width: 40%;
    background-color: #37ad92;
    margin-left: 25px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 10px;
}
.Namecon{
    display: none;
}
.Reportcon{
    width: 40%;
    background-color:#ffdb58 ;
    margin: auto;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 10px;
}
.Namere{
    font-size: 1rem;
    padding: 10px;
    margin-top: 2%;
    border-radius: 10px;
    width: 90%;
}
.phonere{
    font-size: 1rem;
    padding: 10px;
    margin-top: 2%;
    border-radius: 10px;
    width: 42%;
    margin-right: 6px;
}
.emailre{
    font-size: 1rem;
    padding: 10px;
    margin-top: 2%;
    border-radius: 10px;
    margin-left: 6px;
    width: 42%;
}
.problem{
    font-size: 1rem;
    padding: 10px;
    margin-top: 2%;
    border-radius: 10px;
    width: 90%;
    height: 120px;
}
.mentalhealth1{
    font-size: 40px;
    font-weight:bold;
    text-align: center;
    color: #273d5c;
    font-family: 'Kanit', sans-serif;
}
.submitreport{
    background-color: #1645e0;
    border-radius: 30px;
    color:#ffffff;
    border:0;
    height: 40px;
    width:100px;
    font-size: medium;
    margin-top: 20px;
}


/**/
/*mentalhealth*/
/**/
.mentalhealth{
    font-size: 40px;
    font-weight:bold;
    text-align: center;
    color: #273d5c;
    font-family: 'Kanit', sans-serif;
}

.topic{
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto;
    grid-row-gap: 2px;
    grid-column-gap: 2px;
}
.topicbox{
    display: inline-block;
    margin-top: 50px;
    width: 50%; 
    /* background-color:#a9f4d1; */
    background-color: #a8dee0;
    font-size: large;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    color:#27495c;
    padding: 10px;
    margin-left: 20px;
    cursor: pointer;
}
.topicbox span {
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;
}
.topicbox span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.topicbox:hover span {
    padding-right: 25px;
    text-decoration: underline;
    position: relative;
}
.topicbox:hover span:after {
    opacity: 1;
    right: 0;
}
.texttime{
    text-align: center; 
    color: #68ba72;
    font-family: 'Kanit', sans-serif;
    display: grid;
    justify-items: center;
    font-size: 22px;
}
.textform{
    text-align: center; 
    color: #273d5c;
    font-family: 'Kanit', sans-serif;
    display: grid;
    justify-items: center;
    font-size: 20px;
    /*place-items: left;*/
}
.question{
    /* background-color: #7ee0b3; */
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto;
    background-color: #a8dee0;
    height: 40px;
    width: 65%;
    padding-top: 15px;
    text-align: left;
    vertical-align: middle;
}
.formbutton{
    background-color: #f6fef9;
    font-size: 15px;
    color: #27495c;
    /*place-items: center;*/
    height: 60px;
    width: 25vh;
    font-family: 'Kanit', sans-serif;
    border: 2px solid #27495c;
    align-content: "flex-start", "flex-end", "center", "space-between", "space-around", "stretch";
    cursor: pointer;
    transition-duration: 0.4s;
}
.formbutton:hover{
    background-color: #9de2c0;
    color: #1a1c1c;
}
.formbtnafter{
    background-color: #9de2c0;
    color: white;
}
.inline {
    display: inline-block; 
}
.sizepage{ 
    background-repeat: repeat;
}
.buttonstress{
    background-color: #f6fef9;
    font-size: 15px;
    color: #27495c;
    place-items: center;
    height: 8vh;
    width: 15vh;
    font-family: 'Kanit', sans-serif;
    border: 2px solid #27495c;
    cursor: pointer;
    transition-duration: 0.4s;
}
.buttonstress:hover{
    background-color: #417a5e;
    color: white;
}
.textstress{
    text-align: left; 
    color: #273d5c;
    font-family: 'Kanit', sans-serif;
    display: grid;
    justify-items: center;
    font-size: 20px;
}
.resultbtn{
    background-color:#e77575;
    color: #ffffff;
    /* color: #f6fef9; */
    border: 2px solid #e77575;
    border-radius: 30px;
    font-size: 20px;
    place-items: center;
    height: 8vh;
    width: 40vh;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.resultbtn:hover{
    box-shadow: 0 15px 35px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.close{
    float: right;
    text-align: right;
    cursor: pointer;
    font-size: 40px;
    padding-right: 12%;
}
.popup{
    text-align: center; 
    align-content: center;
    color: #273d5c;
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-direction: column;
    justify-items: center;
    font-size: 17px;
    margin-left: 15%;
    margin-right: 15%;
    /* background-color: #f6fef9; */
    background-color: #d1eee1;
    padding-bottom: 10%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

@media screen and (max-width: 767px) {
    .item{
        padding-top: 40%;
        justify-items: center;
        /* phone */
    }
    .contactrow1{
        flex-direction: column;
    }
    .contactrow2{
        justify-content: left;
        padding-left: 5%;
    }
    .contactrow3{
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 0%;
    }
    .clinic{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .open{
        width: 100px;
        margin-left: 5%;
    }
    .detail1{
        width: 320px;
    }
    .place{
        width: 70px;
        margin-left: 0%;
    }
    .detail2{
        width: 320px;
    }
    .phone{
        width: 70px;
        margin-left: 0%;
    }
    .detail3{
        width: 320px;
    }
    .Develop{
        width: 80%;
        height:fit-content;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
        padding-bottom: 30px;
    }
    .first-name, .last-name{
        /* width: 150px;
        justify-content: left;
        background-color: #000000;
        margin-left: 0%; */
        display: none;
    }
    .email{
        /* width: 150px;
        background-color: #000000; */
        display: none;
    }
    .Namecon{
        width: fit-content;
        color:#fff;
        padding-top: 8px;
        font-size: 13px;
        text-align: left;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    .Reportcon{
        width: 80%;
        height:fit-content;
        margin-top: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
        padding: 0px;
        padding-top: 10px;
        padding-bottom: 30px;
    }
    .Namere{
        margin-top: 5%;
        width: 80%;
    }
    .phonere{
        width: 80%;
        margin-right: 0%;
        margin-top: 3%;
    }
    .emailre{
        width: 80%;
        margin-top: 3%;
        margin-left: 0%;
    }
    .problem{
        width: 80%;
        margin-top: 5%;
    }
    .mentalhealth1{
        font-size: 25px;
        margin-top: 15%;
        margin-bottom: 5%;
    }
    /* --------------------mentalhealth--------------------- */
    .topicbox span:after {
        right: 0;
    }
    .topicbox:hover span:after {
        display: none;
    }
    .topicbox{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .mentalhealth{
        font-size: 25px;
        margin-top: 70px;
    }

    .question{
        font-size: 17px;
        height: fit-content;
        width: 90%;
        text-align: center;
        vertical-align: middle; 
        padding-bottom: 10px;
        padding-top: 10px;
        margin-bottom: 0%;
    }
    .textform{
        font-size: 17px;
    }
    .texttime{
        font-size: 17px;
    }
    .formbutton{
        margin: 2%;
    }
    .buttonstress{
        margin: 2%;
        width: 70px;
        height: 60px;
    }
    .textstress{
        font-size: 17px;
    }
    .resultbtn{
        width: 60%;
        height: 7vh;
        margin-bottom: 50px;
    }
    .popup{
        padding-top: 0%;
        padding-bottom: 20%;
    }
    /* ---------------------------------------------------- */
}
@media screen and (min-width: 768px) and (max-width: 1023px)  {
    .item{
        padding-top: 15%;
        padding-right: 4%;
        /* portrait ipad */
    }
    .mentalhealth{
        padding-top: 5%;
        /* portrait ipad */
    }
    .formbutton{
        margin: 2%;
    }
    .question{
        font-size: 16.5px;
        /* justify-content: center;  */
        height: fit-content;
        width: 85%;
        /* justify-items: center; */
        text-align: center;
        vertical-align: middle;
        padding-top: 10px;
        padding-bottom: 10px; 
        /* align-self: center; */
        margin-bottom: 0%;
    }
    .buttonstress{
        
        height: 6vh;
        width: 8vh;
    }
    .clinic{

        margin: 8px;
        padding-left: 10px;
        width: 95%;
        padding-top: 2%;
    }
    .detail1{
        margin-left: 25px;

    }
    .detail2{
        margin-right: 60px;
    }
    .detail3{
        margin-left: 1px;
        
    }
    .place{
        margin-left: 1px;
    }
    .Develop{
        margin: 11px;
        padding-right: 59px;
        width: 55%;
    }
    /* .contact1{
        padding-top: 0%;
    } */
    .Namecon{
        margin-left: 1px;
        /* display: flex; */
    }
    /* .first-name, .last-name, .email{
        display: none;
    } */
    .mentalhealth1{
        padding-top: 7%;
    }
    .Reportcon{
        width: 50%;
    }
    .Namere{
        margin-top: 5%;
    }
    .phonere{
        width: 90%;
        margin-right: 0%;
        margin-top: 3%;
    }
    .emailre{
        width: 90%;
        margin-left: 0%;
        margin-top: 3%;
    }
    .problem{
        margin-top: 5%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px)  {
    .item{
        padding-top: 5%;
        grid-row-gap: 5%;
        grid-column-gap: 5%;
        justify-content:space-evenly;
        padding-right:4%;
        /* landscape ipad */
    }
    .Develop{
        padding-right: 60px;
        margin-right: 35px;
    }
    .clinic{
        
        margin-left: 35px;
    }
    
}