@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');



.texthead{
    font-size: 20px;
    font-family: 'Noto Sans Thai', sans-serif;
    font-weight: bold;
}

*{
    font-family: 'Kanit', sans-serif;
}


/**/
/*home*/
/**/
.texthome{
    font-size: 40px;
    font-weight:bold;
    text-align: left;
    color: #ffffff;
    font-family: 'PT Sans Narrow', sans-serif;
    margin-left: 5%;
    /*border: 1px solid #273d5c;*/
}
.textcontent{
    text-align: left; 
    color: #ffffff;
    font-family: 'Kanit', sans-serif;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5%;
}
.sizehome{
    height: 100%;
    font-family: 'Kanit', sans-serif;
}
.homebutton{
    font-size: 18px;
    color: #ffffff;
    height: 9vh;
    width: 42vh;
    font-family: 'Kanit', sans-serif;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 445px;
    background-color: #52B788;
    border: 0;
    margin-left: 160px;
}
.homebutton:hover{
    background-color:white;
    border: 2px solid#52B788;
    color: #52B788;
}
.pichome{
    background: url("../img/pichome2.png");
    background-size: cover;
    width: 98%;
    height: 80vh;
    background-position: center;
    margin-left: 1%;
    margin-top: 105px;
    margin-bottom: 15px;
    display: grid;
    border-radius: 5px;
}
.circlehome{
    margin-top: 10px;
    margin-left: 75px;
    margin-right: 75px;
}
.picbox{
    height: 60px;
    width: 60px;
    margin: 10px;
}
.boxtext{
    padding: 10px;
    font-size: 13px;
}
.layerhome2{
    height: 200px;
    background-color: white;
}
.boxhome{
    height: 380px;
    width: 25%;
    margin: 1.5%;
    font-size: 17px;
    font-weight: 500;
    background-color: #273d5c ;
    color: #ffffff;
}

.homeitem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 400;
    font-size: 17px;
}
.picitem{
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 5px;
}
.homecontent{
    width: 98%;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 35px;
    align-items: center;
}
.homehead{
    display: flex;
    flex-direction: row;
    background:url("../img/headhome.png");
    background-size: cover;
    height: 250px;
    margin: 2%;
    border-radius: 15px;
}
.picheadhome{
    height: 250px;
    width: 400px;
    object-fit: cover;
    margin-left: 3%;
}

@media screen and (max-width: 1000px){
    .boxhome{
        height: calc(380px + 20px);
    }
    .boxtext{
        font-size: 11px;
    }
    .boxhome{
        font-size: 15px;
    }
    .homecontent{
        font-size: 17px;
    }
    .textcontent{
        font-size: 14px;
    }
    .homehead{
        height: calc(250px + 25px);
    }
    .picheadhome{
        height: calc(250px + 25px);
    }
    .homebutton{
        margin-top: 377px;
        margin-left: 100px;
        height: 9vh;
        width: 22vw;
        font-size: 15px;
    }
}

/**/
/*News*/
/**/
.item {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-row-gap: 0.3%;
    grid-column-gap: 0.3%;
    justify-content: center;
    margin-left: 0.75%;
    margin-right: 0.75%;

}
.picsize{
    margin-top: 120px;
    height: 370px;
    width: 520px;
    object-fit: cover;
}
.contenthead{
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    color: #273d5c;
}
.boxcover{
    margin-top: 150px;
    width: 280px; 
    height: 240px;
    border-radius: 10px;
    background-color: #345995;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    color: white;
    padding: 10px;
    margin-left: 12px;
    margin-right: 10px;
}
.boxcover:hover{
    background-color: #FFDB58;
    color: #000000;
}
.custom-link{
    color: #ffffff;
}
.custom-link:hover{
    color: #000000;
}
.piccontent{
    margin-top: 20px;
    height: 170px;
    width: 240px;
    object-fit: cover;
    float: center;
    margin-left: 5px;  
}
.directionnews{
    height:614px; 
    width: 620px;
    display: flex;
    flex-direction: column;
    
}
.boxcontent{
    margin-top: 50px;
    width: 280px; 
    height: 240px; 
    border-radius: 10px;
    background-color: #345995;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    color: white;
    padding: 10px;
    margin-left: 12px;
}
.boxcontent:hover{
    background-color: #FFDB58;
    color: #000000;
}
.scroll{
    display: flex;
    flex-direction: column;
    overflow:auto;
}
.newsleft{
    height: 100vh;
}



/**/
/*contact*/
/**/
.contact0{
    text-align: center;
    font-size: 30px;  
    margin-left: 2%;
    margin-right: 2%;
}
.Contact-Report{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.contact1{
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.formcontact{
    font-size: 1rem;
    padding: 10px;
    margin-top: 2%;
    border-radius: 5px;
}
.contactrow{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.piclocation{
    width: 27px;
    height: 27px;
    background: url(../img/location.png);
}
.backgroundcon{
    width: 80%;
    margin-left: 15%;
}

.backdeve{
    width: 80%;
    margin-left: 5%;
}


/**/
/*mentalhealth*/
/**/
.mentalhealth{
    font-size: 40px;
    font-weight:bold;
    text-align: center;
    color: #273d5c;
    font-family: 'Kanit', sans-serif;
}
.topic{
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto;
    grid-row-gap: 2px;
    grid-column-gap: 2px;
}
.topicbox{
    display: inline-block;
    margin-top: 50px;
    width: 50%; 
    /* background-color:#a9f4d1; */
    background-color: #a8dee0;
    font-size: large;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    color:#27495c;
    padding: 10px;
    margin-left: 20px;
    cursor: pointer;
}
.topicbox span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.topicbox span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.topicbox:hover span {
    padding-right: 25px;
    text-decoration: underline;
}
.topicbox:hover span:after {
    opacity: 1;
    right: 0;
}
.textform{
    text-align: center; 
    color: #273d5c;
    font-family: 'Kanit', sans-serif;
    display: grid;
    justify-items: center;
    font-size: 20px;
    /*place-items: left;*/
}
.question{
    /* background-color: #7ee0b3; */
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto;
    background-color: #a8dee0;
    height: 40px;
    width: 65%;
    padding-top: 15px;
    text-align: left;
    vertical-align: middle;
}
.subquestion{
    background-color: #a9f4d1;
    height:fit-content;
    width: 65%;
    padding-top: 15px;
    text-align: left;
    align-content: space-around;
}
.formbutton{
    background-color: #f6fef9;
    font-size: 15px;
    color: #27495c;
    /*place-items: center;*/
    height: 60px;
    width: 25vh;
    font-family: 'Kanit', sans-serif;
    border: 2px solid #27495c;
    align-content: "flex-start", "flex-end", "center", "space-between", "space-around", "stretch";
    cursor: pointer;
    transition-duration: 0.4s;
}
.formbutton:hover{
    background-color: #9de2c0;
    color: #1a1c1c;
}
.formbtnafter{
    background-color: #9de2c0;
    color: white;
}
.inline {
    display: inline-block; 
}
.sizepage{ 
    background-repeat: repeat;
}
.buttonstress{
    background-color: #f6fef9;
    font-size: 15px;
    color: #27495c;
    place-items: center;
    height: 8vh;
    width: 15vh;
    font-family: 'Kanit', sans-serif;
    border: 2px solid #27495c;
    cursor: pointer;
    transition-duration: 0.4s;
}
.buttonstress:hover{
    background-color: #417a5e;
    color: white;
}
.textstress{
    text-align: left; 
    color: #273d5c;
    font-family: 'Kanit', sans-serif;
    display: grid;
    justify-items: center;
    font-size: 20px;
}
.resultbtn{
    background-color:#e77575;
    color: #ffffff;
    /* color: #f6fef9; */
    border: 2px solid #e77575;
    border-radius: 30px;
    font-size: 20px;
    place-items: center;
    height: 8vh;
    width: 40vh;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.resultbtn:hover{
    box-shadow: 0 15px 35px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.close{
    float: right;
    text-align: right;
    cursor: pointer;
    font-size: 40px;
    padding-right: 12%;
}
.popup{
    text-align: center; 
    align-content: center;
    color: #273d5c;
    font-family: 'Kanit', sans-serif;
    display: flex;
    flex-direction: column;
    justify-items: center;
    font-size: 17px;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #f6fef9;
    padding: 5%;
}